html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#content {

}

#header {
    position: sticky;
    top: 0;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    background-color: white;
    border-bottom: solid rgba(128, 128, 128, 0.39) 1px;
}

#restaurantName {
    font-family: 'Redressed', cursive;
    font-size: 4rem;
    margin: 0px;
    background: -webkit-linear-gradient(#f0c380, #eec469);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#content {
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: #F5F6F7;
    box-sizing: border-box;
}

.contentBlock {
    margin-top: 20px;
    margin-bottom: 20px;
}

.imageInfoBlock {
    background-image: linear-gradient(#f0c380, #eec469);
    display: flex;
    width:70%;
    box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.329);
    justify-content: center;
    align-items: center;
}

#restaurantInformation {
    padding: 20px;
    font-family: 'Rubik', sans-serif;
}

#infoText {
    color: #2B4162;
}

#homepageImage {

}

@media only screen and (max-width: 1000px) {
    #content {
    }

    .contentBlock {

    }
    
    .imageInfoBlock {
        width: 90%;
        height: 100%;
    }
    
    #homepageImage {
    height: 375px;
    width: auto;
    }

    
}   



